<section id="casestudy">
    <div class="content-section-c">
        <div class="container">
            <div class="row">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Case Studies</h2>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <iframe width="503" height="315" src="https://www.youtube.com/embed/NWZJp2xOwJk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            <h4> Alaska Airlines </h4>
                        </div>
                        <div class="col-md-6">
                            <iframe width="503" height="315" src="https://www.youtube.com/embed/34qqS0iIZCM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            <h4> Next Games </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>