<section id="features">
    <div class="content-section-c">
        <div class="container">
            <div class="row">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Features</h2>
            </div>
            <div class="row">
                <div class="container feature-cont">
                    <div class="row-eq-height">
                        <!-- Feature 1 -->
                        <div class="col-md-6 feature-div lead">
                            <div class="panel panel-feature panel-info">
                                <div class="panel-body">
                                    <b>Simplify</b> microservices development and application lifecycle management
                                </div>
                            </div>
                        </div>
                        <!-- Feature 2 -->
                        <div class="col-md-6 feature-div lead">
                            <div class="panel panel-feature panel-info">
                                <div class="panel-body">
                                    Data-aware platform for <b>low-latency</b>, <b>high-throughput</b> workloads with stateful containers or microservices
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-eq-height">
                        <!-- Feature 1 -->
                        <div class="col-md-6 feature-div lead">
                            <div class="panel panel-feature panel-info">
                                <div class="panel-body">Reliably <b>scale</b> and <b>orchestrate</b> containers and microservices</div>
                            </div>
                        </div>
                        <!-- Feature 2 -->
                        <div class="col-md-6 feature-div lead">
                            <div class="panel panel-feature panel-info">
                                <div class="panel-body">Scales up to <b>thousands of machines</b></div>
                            </div>
                        </div>
                    </div>
                    <div class="row-eq-height">
                        <!-- Feature 1 -->
                        <div class="col-md-6 feature-div lead">
                            <div class="panel panel-feature panel-info">
                                <div class="panel-body">
                                    Run anything – <b>your choice</b> of languages and programming models
                                </div>
                            </div>
                        </div>
                        <!-- Feature 2 -->
                        <div class="col-md-6 feature-div lead">
                            <div class="panel panel-feature panel-info">
                                <div class="panel-body">
                                    Run <b>anywhere</b> – supports Windows/Linux in Azure, on-premises, or other clouds
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
