<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a class="page-scroll" href="https://github.com/Microsoft/service-fabric" target="_blank">Github</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a class="page-scroll" href="https://docs.microsoft.com/en-us/azure/service-fabric/" target="_blank">Documentation</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a class="page-scroll" href="https://blogs.msdn.microsoft.com/azureservicefabric/?orderby=date" target="_blank">Blog</a>
                    </li>
                </ul>
                 
            </div>
        </div>
    </div>
</footer>