 <!-- getStarted Section -->
    <section id="getStarted" class="container content-section text-center">
        <div class="row">
            <div class="col-xl-12">
                <br /><br />
                <h2>New To Service Fabric?</h2>
                <br />
                <!-- end notification -->

                <div class="row">
                    <div class="col-md-6">
                        <div class="figure">
                            <div class="embed-responsive embed-responsive-16by9" style="margin-top:20px">
                                <iframe class="embed-responsive-item rounded" src="img/IntroAzureServiceFabric_mid.mp4" autoplay="false"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="img/hex1.JPG" style="height:75px" />
                            </div>
                            <div class="col-md-9" style="text-align:left">
                                <h4>Run business-critical applications at scale</h4>
                                <p style="font-style:italic; font-size:10pt">"We really needed a distributed clustering technology that would deliver at massive scale. 
                                The high-availability guarantees from Service Fabric gave us the answer"</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <img src="img/hex2.JPG" style="height:75px" />
                            </div>
                            <div class="col-md-9" style="text-align:left">
                                <h4>Achieve high developer productivity</h4>
                                <p style="font-style:italic; font-size:10pt">"Service Fabric allowed us to focus on the key features of EcoStruxure.io, rather than building
                                a microservices architecture."</p>
                            </div> 
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <img src="img/hex3.JPG" style="height:75px" />
                            </div>
                            <div class="col-md-9" style="text-align:left">
                                <h4> Gain business agility with microservices and containers</h4>
                                <p style="font-style:italic; font-size:10pt">Azure Serice Fabric is a sophisticated toolbox for creating a mix of stateless and stateful services
                                that can be scaled and extended as our user base grows and we add new functionality."</p>
                            </div>
                        </div>
                        <!--
    <br />
    <p class="lead">
        Service Fabric is a distributed systems platform that makes it easy to package, deploy, and manage scalable
        and reliable microservices and containers.
    </p>
    <p class="lead">
        Developers and administrators can avoid complex infrastructure problems and focus on
        implementing mission-critical, demanding workloads that are scalable, reliable, and manageable.
    </p>
    <p class="lead">
        Service Fabric represents the next-generation platform for building and managing these enterprise-class, tier-1,
        cloud-scale applications running in containers.
    <p />
    <br /> -->

                        <a href="https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started" class="btn btn-info btn-md">Download Instructions</a>
                    </div>
                </div>
            </div>
        </div>
     </section>
