
<!-- getStarted Section -->
    <section id="getStarted" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>New To Service Fabric?</h2>
              <br/>
                <p> Build and operate always-on, scalable, distrubted apps with <a href="https://azure.microsoft.com/en-us/services/service-fabric/">Service Fabric</a>.</p>
                <div class="row">
                    <div class="col-lg-4" style="background-color:lavender">
                        <img class="img-responsive" src="img/test.jpg" alt="">
                        <ul style="list-style-type:none">
                            <li>Build and operate always-on, scalable, distributed apps</li>
                            <li>Simplify microservices development and application lifecycle management</li>
                        </ul>    
                    </div>
                    <div class="col-lg-4" style="background-color:lavender">
                        <img class="img-responsive" src="img/test.jpg" alt="">
                        <ul style="list-style-type:none">
                            <li>Reliably scale and orchestrate containers and microservices</li>
                            <li>Data-aware platform for low-latency, high-throughput workloads with stateful containers or microservices</li>
                        </ul>
                    </div>
                    <div class="col-lg-4" style="background-color:lavender">
                        <img class="img-responsive" src="img/test.jpg" alt="">
                        <ul style="list-style-type:none">
                            <li>Run anything – your choice of languages and programming models</li>
                            <li>Scales up to thousands of machines</li> 
                        </ul>
                    </div>
                </div>
                <br/>
                <button type="button" class ="btn"> Get Started <a href="https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started" </a> </button>
              </div>
        </div>
    </section>
