 <!-- getStarted Section -->
    <section id="getStarted" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <br /><br />
                <h2>New To Service Fabric?</h2>
                <br />

                <div class="row"> 
                <div class="row">
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="img/cli.png">
                                <img src="img/cli.png" alt="Lights" style="width:100%">
                                <div class="caption">
                                    <p>Integrate with your CLI of choice for a seamless development experience.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                           <div class="embed-responsive embed-responsive-16by9">
                              <iframe class="embed-responsive-item" src="img/IntroAzureServiceFabric_mid.mp4"></iframe>
                           </div>
                           <div class="caption">
                            <p>Let's get <a href="https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started"> started </a>.</p>
                           </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                            <a href="img/sfxclusterdashboard.png">
                                <img src="img/sfxclusterdashboard.png" alt="Fjords" style="width:100%">
                                <div class="caption">
                                    <p>The Service Fabric Explorer Dashboard makes it easy to keep tabs on the preformance and health of your application.</p>
                                </div>
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
