<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="https://azure.microsoft.com/en-us/services/service-fabric/">{{ site.title }}</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="col-sm-3 col-md-3 pull-right">
                <!-- Not the best way of doing this . . . but works for now
    <div id="search_bar">
        <script>
            (function () {
                var cx = '016330510565665665086:jeyr3jwnc-q';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
            })();
        </script>
        <gcse:search></gcse:search>
    </div> -->
                <div class="w-form form-wrapper">
                    <form name="cse" id="searchbox" action="https://macols.github.io/searchresultspage" method="get">
                        <input type="hidden" name="cx" value="016330510565665665086:jeyr3jwnc-q" /><!-- Replace YOUR_CSEID with your CSE ID (!) -->
                        <input type="hidden" name="ie" value="utf-8" />
                        <input type="hidden" name="hl" value="en" />
                        <input name="q" type="text" class="form-control" />
                        <input class="btn btn-default" value="Go" type="submit" name="sa" />
                    </form>
                    <script>
                        (function () {
                            var cx = '016330510565665665086:jeyr3jwnc-q';
                            var gcse = document.createElement('script');
                            gcse.type = 'text/javascript';
                            gcse.async = true;
                            gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                            var s = document.getElementsByTagName('script')[0];
                            s.parentNode.insertBefore(gcse, s);
                        })();
                    </script>
                    <gcse:search></gcse:search>
                </div>
                <!--
    <form class="navbar-form" role="search" method="get" action="{{ site.baseurl }}//search/">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    </form>
    -->
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#getStarted">Get Started</a>
                </li>
                <li>
                    <a class="page-scroll" href="#resources">Resources</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
            <!-- /.navbar-collapse -->
        </div>
    <!-- /.container -->
</nav>

<section id="home">
<!-- Header -->
	<div class="intro-header">

		<div class="container">

			<div class="row">
				<div class="col-lg-12">
					<div class="intro-message">
						<h1>{{ page.title }}</h1>
						<h3>{{ page.subTitle }}</h3>
						<hr class="intro-divider">
						<ul class="list-inline intro-social-buttons">
							{% for social in site.social %}
							<li>
								<a href="{{ social.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ social.title }} fa-fw"></i> <span class="network-name">{{ social.title }}</span></a>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->
</section>
