<section id="resources">
    <!-- Page Content -->
    {% for post in site.posts reversed %}
    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if post.title == 'Read' %}
     <div class="content-section-a">

         <div class="container">

             <div class="row">
                 <hr class="section-heading-spacer">
                 <div class="clearfix"></div>
                 <h2 class="section-heading">{{ post.title }}</h2>

                 <div class="row">

                     <div class="col-lg-4">
                         <div class="panel panel-info">
                             <div class="panel-heading">
                                 <h2 class="panel-title">Service Fabric Documentation</h2>
                             </div>
                             <div class="panel-body lead">
                                 Documents with content ranging from terminology to architecture written by Service Fabric team-members. <br />
                                 <img src="img/book_icon.png" class="center-block" style="width: 75px; height: 75px; margin-top: 5px">
                                 <a href="https://docs.microsoft.com/en-us/azure/service-fabric/" class="btn btn-info btn-md">Go</a>
                             </div>
                         </div>
                     </div>

                     <div class="col-lg-4">
                         <div class="panel panel-info">
                             <div class="panel-heading">
                                 <h2 class="panel-title">Service Fabric Team Blog</h2>
                             </div>
                             <div class="panel-body lead">
                                 Keep up to date with the latest Service Fabric news with posts written by the team. <br />
                                 <img src="img/blog_icon3.png" class="center-block" style="width: 75px; height: 75px; margin-top: 5px">
                                 <a href="https://blogs.msdn.microsoft.com/azureservicefabric/?orderby=date" class="btn btn-info btn-md">Go</a>
                             </div>
                         </div>
                     </div>

                     <div class="col-lg-4">
                         <div class="panel panel-info">
                             <div class="panel-heading">
                                 <h2 class="panel-title">Azure Service Fabric Roadmap</h2>
                             </div>
                             <div class="panel-body lead">
                                 Check out Service Fabric's roadmap to get updates on where our service is heading. <br />
                                 <img src="img/map_icon.png" class="center-block" style="width: 75px; height: 75px; margin-top: 5px">
                                 <a href="https://azure.microsoft.com/en-us/roadmap/?query=service+fabric/" class="btn btn-info btn-md">Go</a>
                             </div>
                         </div>
                     </div>

                 </div>
             </div>
         </div>
    <!-- /.container -->
    </div>
    <!-- /.content-section-a -->
    {% elsif post.title == 'Watch' %}
    <div class="content-section-b">
        <!-- Header-->
        <div class="row">
            <div class="container">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">{{ post.title }}</h2>
                <p class="lead"> Here are a few highlighted videos to get you started.</p>
            </div>
        </div>
        <!--Carousel-->
        <div class="container">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/EEwT6y5h09I" allowfullscreen></iframe>
                        </div>
                    </div>

                    <div class="item">
                        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MrfcP6dS6mU" allowfullscreen></iframe>
                        </div>
                    </div>

                    <div class="item">
                        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/D-1mfk3Vv-4" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <!--Video Panels-->
        <div class="row" style="margin: 5px">
            <div class="container">
                <br />
                <!-- MVA Bar -->
                <div class="row">
                    <div class="col-xs-7">
                        <h4>Microsoft Virtual Academy</h4>
                        <p class="lead">
                            Microsoft Virtual Academy videos place emphasis on teaching you about various topics and often don't require extensive prerequisite knowledge. They are a great resource if you are new to
                            the service or want a refresher.
                        </p>
                    </div>
                    <div class="col-xs-5" align="right">
                        <div id="myCarousel2" class="carousel slide" style="width: 300px" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel2" data-slide-to="1"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="dropdown">
                                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="width:100%">
                                                    Building Microservices <br />Apps with Service Fabric
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="https://mva.microsoft.com/en-US/training-courses/building-microservices-applications-on-azure-service-fabric-16747?l=tbuZM46yC_5206218965#">Service Fabric Architecture & Core Concepts</a></li>
                                                    <li><a href="https://mva.microsoft.com/en-US/training-courses/building-microservices-applications-on-azure-service-fabric-16747?l=HhD9566yC_4106218965#">Service Fabric Reliable Services</a></li>
                                                    <li><a href="https://mva.microsoft.com/en-US/training-courses/building-microservices-applications-on-azure-service-fabric-16747?l=HhD9566yC_4106218965#">Service Fabric on Linux :-)</a></li>
                                                    <li><a href="https://mva.microsoft.com/en-US/training-courses/building-microservices-applications-on-azure-service-fabric-16747?l=qDJnf86yC_5206218965#">Service Fabric History & Customer Stories</a></li>
                                                </ul>
                                            </div>

                                        </div>
                                        <div class="panel-body">
                                            <a href="https://mva.microsoft.com/">
                                                <img src="img/mva_logo.jpg" alt="Lights" class="img-responsive center-block">
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="dropdown">
                                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="width:100%">
                                                    Service Fabric Patterns + <br /> Practices
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="https://mva.microsoft.com/en-US/training-courses/service-fabric-patterns-and-practices-16925?l=N2KwbbSGD_6405167344#">Intro to Service Fabric Patterns + Practices</a></li>
                                                    <li><a href="https://mva.microsoft.com/en-US/training-courses/service-fabric-patterns-and-practices-16925?l=N2KwbbSGD_6405167344#">Cluster Planning and Management</a></li>
                                                    <li><a href="https://mva.microsoft.com/en-US/training-courses/service-fabric-patterns-and-practices-16925?l=N2KwbbSGD_6405167344#">Hyper-Scale Web</a></li>
                                                    <li><a href="https://mva.microsoft.com/en-US/training-courses/service-fabric-patterns-and-practices-16925?l=naFUVeSGD_1505167344#">loT</a></li>
                                                    <li><a href="https://mva.microsoft.com/en-US/training-courses/service-fabric-patterns-and-practices-16925?l=naFUVeSGD_1505167344#">Gaming</a></li>
                                                    <li><a href="https://mva.microsoft.com/en-US/training-courses/service-fabric-patterns-and-practices-16925?l=78h5ofSGD_305167344#">Continuous Delivery</a></li>
                                                    <li><a href="https://mva.microsoft.com/en-US/training-courses/service-fabric-patterns-and-practices-16925?l=hd1cMgSGD_5605167344#">Migration</a></li>
                                                    <li><a href="https://mva.microsoft.com/en-US/training-courses/service-fabric-patterns-and-practices-16925?l=hd1cMgSGD_5605167344#">Container and Linux Supports</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <a href="https://mva.microsoft.com/">
                                                <img src="img/mva_logo.jpg" alt="Lights" class="img-responsive center-block">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarousel2" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel2" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                       <!--<div class="row">
         <div class="col-xs-6">
             <div class="panel panel-default">
                 <div class="panel-heading">
                     <div class="dropdown">
                         <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="width:100%">
                             Building Microservices <br/>Apps with Service Fabric
                             <span class="caret"></span>
                         </button>
                         <ul class="dropdown-menu">
                             <li><a href="https://mva.microsoft.com/en-US/training-courses/building-microservices-applications-on-azure-service-fabric-16747?l=tbuZM46yC_5206218965#">Service Fabric Architecture & Core Concepts</a></li>
                             <li><a href="https://mva.microsoft.com/en-US/training-courses/building-microservices-applications-on-azure-service-fabric-16747?l=HhD9566yC_4106218965#">Service Fabric Reliable Services</a></li>
                             <li><a href="https://mva.microsoft.com/en-US/training-courses/building-microservices-applications-on-azure-service-fabric-16747?l=HhD9566yC_4106218965#">Service Fabric on Linux :-)</a></li>
                             <li><a href="https://mva.microsoft.com/en-US/training-courses/building-microservices-applications-on-azure-service-fabric-16747?l=qDJnf86yC_5206218965#">Service Fabric History & Customer Stories</a></li>
                         </ul>
                     </div>

                 </div>
                 <div class="panel-body">
                     <a href="https://mva.microsoft.com/">
                         <img src="img/mva_logo.jpg" alt="Lights" class="img-responsive center-block">
                     </a>
                 </div>
             </div>
         </div>
         <div class="col-xs-6">
             <div class="panel panel-default">
                 <div class="panel-heading">
                     <div class="dropdown">
                         <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="width:100%">
                             Service Fabric Patterns + <br/> Practices
                             <span class="caret"></span>
                         </button>
                         <ul class="dropdown-menu">
                             <li><a href="https://mva.microsoft.com/en-US/training-courses/service-fabric-patterns-and-practices-16925?l=N2KwbbSGD_6405167344#">Intro to Service Fabric Patterns + Practices</a></li>
                             <li><a href="https://mva.microsoft.com/en-US/training-courses/service-fabric-patterns-and-practices-16925?l=N2KwbbSGD_6405167344#">Cluster Planning and Management</a></li>
                             <li><a href="https://mva.microsoft.com/en-US/training-courses/service-fabric-patterns-and-practices-16925?l=N2KwbbSGD_6405167344#">Hyper-Scale Web</a></li>
                             <li><a href="https://mva.microsoft.com/en-US/training-courses/service-fabric-patterns-and-practices-16925?l=naFUVeSGD_1505167344#">loT</a></li>
                             <li><a href="https://mva.microsoft.com/en-US/training-courses/service-fabric-patterns-and-practices-16925?l=naFUVeSGD_1505167344#">Gaming</a></li>
                             <li><a href="https://mva.microsoft.com/en-US/training-courses/service-fabric-patterns-and-practices-16925?l=78h5ofSGD_305167344#">Continuous Delivery</a></li>
                             <li><a href="https://mva.microsoft.com/en-US/training-courses/service-fabric-patterns-and-practices-16925?l=hd1cMgSGD_5605167344#">Migration</a></li>
                             <li><a href="https://mva.microsoft.com/en-US/training-courses/service-fabric-patterns-and-practices-16925?l=hd1cMgSGD_5605167344#">Container and Linux Supports</a></li>
                         </ul>
                     </div>
                 </div>
                 <div class="panel-body">
                     <a href="https://mva.microsoft.com/">
                         <img src="img/mva_logo.jpg" alt="Lights" class="img-responsive center-block">
                     </a>
                 </div>
             </div>
         </div>
     </div> -->
                    </div>
                </div>
                <!-- YouTube Bar-->
                <div class="row">
                    <div class="col-xs-5">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="width:100%">
                                                Service Fabric
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="https://www.youtube.com/watch?v=K32KfaGx500">Community Q&A #1 </a></li>
                                                <li><a href="https://www.youtube.com/watch?v=xGSjyDmeue8">Community Q&A #2</a></li>
                                                <li><a href="https://www.youtube.com/watch?v=dU4KGvDu7F4">Community Q&A #3</a></li>
                                                <li><a href="https://www.youtube.com/watch?v=dU4KGvDu7F4">Community Q&A #3</a></li>
                                                <li><a href="https://www.youtube.com/watch?v=dU4KGvDu7F4">Community Q&A #3</a></li>
                                                <li><a href="https://www.youtube.com/watch?v=dU4KGvDu7F4">Community Q&A #3</a></li>
                                                <li><a href="https://www.youtube.com/watch?v=dU4KGvDu7F4">Community Q&A #3</a></li>
                                                <li><a href="https://www.youtube.com/watch?v=dU4KGvDu7F4">Community Q&A #3</a></li>
                                                <li><a href="https://www.youtube.com/watch?v=dU4KGvDu7F4">Community Q&A #3</a></li>
                                                <li><a href="https://www.youtube.com/watch?v=dU4KGvDu7F4">Community Q&A #3</a></li>
                                                <li><a href="https://www.youtube.com/watch?v=dU4KGvDu7F4">Community Q&A #3</a></li>
                                                <li><a href="https://www.youtube.com/watch?v=dU4KGvDu7F4">Community Q&A #3</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <a href="https://www.youtube.com/channel/UC0nFiDDfBO8yhmGV0kgPiNw">
                                            <img src="img/asf_logo.jpg" alt="SF Logo" class="img-responsive center-block">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="width:100%">
                                                Microsoft Developer
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="https://www.youtube.com/watch?v=OgrIw1hVTxs&index=1&list=PLlrxD0HtieHh73JryJJ-GWcUtrqpcg2Pb">Alex Wun: The Cluster Manager</a></li>
                                                <li><a href="https://www.youtube.com/watch?v=vM5x9kk6ZVY&index=2&list=PLlrxD0HtieHh73JryJJ-GWcUtrqpcg2Pb">Mansoor Mohsin: Inside the Failover Manager</a></li>
                                                <li><a href="https://www.youtube.com/watch?v=BvIWoMpj4vI&index=3&list=PLlrxD0HtieHh73JryJJ-GWcUtrqpcg2Pb">Aprameya Rao: Inside Service Fabric Reconfiguration</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <a href="https://www.youtube.com/channel/UCsMica-v34Irf9KVTh6xx-g">
                                            <img src="img/microsoft_logo.jpg" alt="Msft Dev Logo" class="img-responsive center-block">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="width:100%">
                                                Microsoft Azure
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="https://www.youtube.com/watch?v=QqmPM8G4cu8">Azure Friday | Azure Service Fabric on Linux</a></li>
                                                <li><a href="https://www.youtube.com/watch?v=5RYmooIZqS4">Azure Friday | Jenkins CI/CD with Service Fabric</a></li>
                                                <li><a href="https://www.youtube.com/watch?v=hDtslXl5APw">Building Games with Service Fabric</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <a href="https://www.youtube.com/user/windowsazure">
                                            <img src="img/photo.jpg" alt="Lights" class="img-responsive center-block">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="width:100%">
                                                Microsoft Visual Studio
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="https://www.youtube.com/watch?v=1NcWdSn-7aI">Service Fabric Deploying and Managing Applications with Service Fabric</a></li>
                                                <li><a href="https://www.youtube.com/watch?v=ndEX6BjSwHU">SmartHotel360 - Modernizing Existing Apps with Azure Service Fabric</a></li>
                                                <li><a href="https://www.youtube.com/watch?v=U0W8Z0bp6aw">Azure: building applications using Azure Service Fabric and ASP.NET Core | E100</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <a href="https://www.youtube.com/visualstudio">
                                            <img src="img/vs_logo.jpg" alt="Lights" class="img-responsive center-block">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <h4 align="right">Youtube Channels</h4>
                        <p class="lead" align="right">
                            The following YouTube channels have great Service Fabric content targeted  for users ranging from beginners to advanced. These videos tend to be
                            topic driven and will dive deeeply into the selected subject. Explore a few of our selected videos before heading to the channels for even more content.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    <!-- /.content-section-b -->
    {% else %}
    <div class="content-section-c">
        <div class="container">
            <div class="row">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">{{ post.title }}</h2>
            </div>
            <div class="row">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-md-4">
                            <h3>Quickstarts</h3>
                            <img src="img/rocket_icon.png" style="height:100px; margin-top:10px" class="center-block" />
                            <p> Quickstarts are simple, 5 minute walkthroughs that aim to teach you a specific task without 
                            forcing you to write any code on your own.</p>
                        </div>
                        <div class="col-md-4">
                            <h3>Tutorials</h3>
                            <img src="img/tutorial_icon.png" style="height:100px; margin-top:10px" class="center-block" />
                            <p>
                               Tutorials are meant to give a more in-depth walk through. They provide you with tools as well as explanations
                                for each step until you ave accomplished your goal. Expect 
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h3>Samples</h3>
                            <img src="img/sample_icon.png" style="height:100px; margin-top:10px" class="center-block" />
                            <p>
                                Samples tend to be repositories that you can download and clone. They will allow you to expore a specific concept
                                in action by observing someone else's code.
                            </p>
                        </div>
                    </div>
                    <!-- Row 1-->
                    <div class="row text-center">
                        <div class="col-md-3" style="background-color:lightblue; height:170px; width:170px; margin:20px">
                            <a href="https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-quickstart-dotnet">
                                <img src="img/rocket_icon.png" style="height:100px; margin-top:10px" class="center-block" />
                                <font color="black">Create a .NET Application</font>
                            </a>
                        </div>
                        <div class="col-md-3" style="background-color:aliceblue; height:170px; width:170px; margin:20px">
                            <a href="https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tutorial-create-dotnet-app">
                                <img src="img/tutorial_icon.png" style="height:100px; margin-top:10px" class="center-block" />
                                <font color="black">Deploy a .NET app</font>
                            </a>
                        </div>
                        <div class="col-md-3" style="background-color:aliceblue; height:170px; width:170px; margin:20px">
                            <a href="https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-host-app-in-a-container">
                                <img src="img/tutorial_icon.png" style="height:100px; margin-top:10px" class="center-block" />
                                <font color="black">Containerize an existing .NET app</font>
                            </a>
                        </div>
                        <div class="col-md-3" style="background-color:lightcyan; height:170px; width:170px; margin:20px">
                            <a href="https://azure.microsoft.com/en-us/resources/samples/service-fabric-java-getting-started/">
                                <img src="img/sample_icon.png" style="height:100px; margin-top:10px" class="center-block" />
                                <font color="black">Getting Started with Service Fabric with Java</font>
                            </a>
                        </div>
                        <div class="col-md-3" style="background-color:aliceblue; height:170px; width:170px; margin:20px">
                            <a href="https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tutorial-standalone-create-infrastructure">
                                <img src="img/tutorial_icon.png" style="height:100px; margin-top:10px" class="center-block" />
                                <font color="black">Create a standalone cluster on AWS</font>
                            </a>
                        </div>
                    </div>
                    <!-- Row 2 -->
                    <div class="row text-center" style="padding-left:100px">
                        <div class="col-md-3" style="background-color:lightcyan; height:170px; width:170px; margin:20px">
                            <a href="https://azure.microsoft.com/en-us/resources/samples/service-fabric-dotnet-web-reference-app/">
                                <img src="img/sample_icon.png" style="height:100px; margin-top:10px" class="center-block" />
                                <font color="black">Web Ref App</font>
                            </a>
                        </div>
                        <div class="col-md-3" style="background-color:aliceblue; height:170px; width:170px; margin:20px">
                            <a href="https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tutorial-create-java-app">
                                <img src="img/tutorial_icon.png" style="height:100px; margin-top:10px" class="center-block" />
                                <font color="black">Deploy a Java app</font>
                            </a>
                        </div>
                        <div class="col-md-3" style="background-color:lightcyan; height:170px; width:170px; margin:20px">
                            <a href="https://azure.microsoft.com/en-us/resources/samples/service-fabric-api-management/">
                                <img src="img/sample_icon.png" style="height:100px; margin-top:10px" class="center-block" />
                                <font color="black">Service Fabric + Azure API Management</font>
                            </a>
                        </div>
                        <div class="col-md-3" style="background-color:lightblue; height:170px; width:170px; margin:20px">
                            <a href="https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-quickstart-containers">
                                <img src="img/rocket_icon.png" style="height:100px; margin-top:10px" class="center-block" />
                                <font color="black">Deploy a Windows Container application</font>
                            </a>
                        </div>
                        <div class="col-md-3" style="background-color:lightcyan; height:170px; width:170px; margin:20px">
                            <a href="https://azure.microsoft.com/en-us/resources/samples/service-fabric-dotnet-management-party-cluster/">
                                <img src="img/sample_icon.png" style="height:100px; margin-top:10px" class="center-block" />
                                <font color="black">Azure Service Fabric Party Cluster</font>
                            </a>
                        </div>
                    </div>
                    <!-- Row 3-->
                    <div class="row text-center" style="padding-left:80px">
                        <div class="col-md-3" style="background-color:aliceblue; height:170px; width:170px; margin:20px">
                            <a href="https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tutorial-create-container-images">
                                <img src="img/tutorial_icon.png" style="height:100px; margin-top:10px" class="center-block" />
                                <font color="black">Create a Linux container app</font>
                            </a>
                        </div>
                        <div class="col-md-3" style="background-color:lightblue; height:170px; width:170px; margin:20px">
                            <a href="https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-quickstart-java-spring-boot">
                                <img src="img/rocket_icon.png" style="height:100px; margin-top:10px" class="center-block" />
                                <font color="black">Deploy a Spring Boot application</font>
                            </a>
                        </div>
                        <div class="col-md-3" style="background-color:lightcyan; height:170px; width:170px; margin:20px">
                            <a href="https://azure.microsoft.com/en-us/resources/samples/service-fabric-dotnet-getting-started/">
                                <img src="img/sample_icon.png" style="height:100px; margin-top:10px" class="center-block" />
                                <font color="black">Service Fabric Getting Started</font>
                            </a>
                        </div>
                        <div class="col-md-3" style="background-color:lightcyan; height:170px; width:170px; margin:20px">
                            <a href="https://azure.microsoft.com/en-us/resources/samples/service-fabric-dotnet-standalone-cluster-configuration/">
                                <img src="img/sample_icon.png" style="height:100px; margin-top:10px" class="center-block" />
                                <font color="black">Service Fabric Standalone Cluster Configuration</font>
                            </a>
                        </div>
                        <div class="col-md-3" style="background-color:lightcyan; height:170px; width:170px; margin:20px">
                            <a href="https://azure.microsoft.com/en-us/resources/samples/service-fabric-dotnet-data-streaming-websockets/">
                                <img src="img/sample_icon.png" style="height:100px; margin-top:10px" class="center-block" />
                                <font color="black">Service Fabric Predictive Backend</font>
                            </a>
                        </div>
                    </div>
                    <!-- Row 4-->
                    <div class="row text-center" style="padding-left:50px">
                        <div class="col-md-3" style="background-color:lightcyan; height:170px; width:170px; margin:20px">
                            <a href="https://azure.microsoft.com/en-us/resources/samples/service-fabric-containers/">
                                <img src="img/sample_icon.png" style="height:100px; margin-top:10px" class="center-block" />
                                <font color="black">Service Fabric Container Samples</font>
                            </a>
                        </div>
                        <div class="col-md-3" style="background-color:lightcyan; height:170px; width:170px; margin:20px">
                            <a href="https://azure.microsoft.com/en-us/resources/samples/service-fabric-api-management/">
                                <img src="img/sample_icon.png" style="height:100px; margin-top:10px" class="center-block" />
                                <font color="black">Service Fabric + Azure API Management</font>
                            </a>
                        </div>
                        <div class="col-md-3" style="background-color:aliceblue; height:170px; width:170px; margin:20px">
                            <a href="https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tutorial-create-container-images">
                                <img src="img/tutorial_icon.png" style="height:100px; margin-top:10px" class="center-block" />
                                <font color="black">Create a Linux container app</font>
                            </a>
                        </div>
                        <div class="col-md-3" style="background-color:lightcyan; height:170px; width:170px; margin:20px">
                            <a href="https://azure.microsoft.com/en-us/resources/samples/service-fabric-dotnet-data-aggregation/">
                                <img src="img/sample_icon.png" style="height:100px; margin-top:10px" class="center-block" />
                                <font color="black">Service Fabric Data Aggregation Sample (aka HealthMetrics)</font>
                            </a>
                        </div>
                        <div class="col-md-3" style="background-color:lightblue; height:170px; width:170px; margin:20px">
                            <a href="https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-quickstart-java-reliable-services">
                                <img src="img/rocket_icon.png" style="height:100px; margin-top:10px" class="center-block" />
                                <font color="black">Deploy a Reliable Services application</font>
                            </a>
                        </div>
                    </div>
                    <!-- Row 5-->
                    <div class="row text-center" style="padding-left:120px">
                        <div class="col-md-3" style="background-color:lightcyan; height:170px; width:170px; margin:20px">
                            <a href="https://azure.microsoft.com/en-us/resources/samples/service-fabric-dotnet-data-streaming-websockets/">
                                <img src="img/sample_icon.png" style="height:100px; margin-top:10px" class="center-block" />
                                <font color="black">Service Fabric Predictive Backend</font>
                            </a>
                        </div>
                        <div class="col-md-3" style="background-color:aliceblue; height:170px; width:170px; margin:20px">
                            <a href="https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tutorial-create-vnet-and-windows-cluster">
                                <img src="img/tutorial_icon.png" style="height:100px; margin-top:10px" class="center-block" />
                                <font color="black">Create and manage a cluster</font>
                            </a>
                        </div>
                        <div class="col-md-3" style="background-color:lightblue; height:170px; width:170px; margin:20px">
                            <a href="https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-quickstart-containers-linux">
                                <img src="img/rocket_icon.png" style="height:100px; margin-top:10px" class="center-block" />
                                <font color="black">Deploy a Linux Container application</font>
                            </a>
                        </div>
                        <div class="col-md-3" style="background-color:lightcyan; height:170px; width:170px; margin:20px">
                            <a href="https://azure.microsoft.com/en-us/resources/samples/service-fabric-dotnet-core-getting-started/">
                                <img src="img/sample_icon.png" style="height:100px; margin-top:10px" class="center-block" />
                                <font color="black">Getting Started with Service Fabric with .NET Core</font>
                            </a>
                        </div>
                        <div class="col-md-3" style="background-color:lightcyan; height:170px; width:170px; margin:20px">
                            <a href="https://azure.microsoft.com/en-us/resources/samples/service-fabric-dotnet-iot/">
                                <img src="img/sample_icon.png" style="height:100px; margin-top:10px" class="center-block" />
                                <font color="black">Service Fabric IoT Sample</font>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.content-section-c -->
    {% endif %}
    {% endfor %}
</section>
