<section id="resources">
    <!-- Page Content -->
    {% for post in site.posts reversed %}
    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if thecycle == 'odd' and post.title != 'Watch' %}
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="card">
                    <h3 class="card-header primary-color white-text">Featured</h3>
                    <div class="card-body">
                        <h4 class="card-title">Special title treatment</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a class="btn btn-primary">Go somewhere</a>
                    </div>
                </div> 
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    {% else if post.title == 'Watch' %}
    <div class="content-section-b">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">{{ post.title }}</h2>
                <div class="lead">{{ post.content }}</div>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <div class="embed-responsive embed-responsive-16by9 rounded">
                    <iframe class="embed-responsive-item" src="img/IntroAzureServiceFabric_mid.mp4"></iframe>
                </div>
            </div>
        </div>

    </div>
    <!-- https://youtu.be/D-1mfk3Vv-4 link -->

    <!-- /.content-section-b -->
    {% else %}

    <div class="content-section-c">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead">{{ post.content }}</div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="img/services/{{ post.img }}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-c -->
    {% endif %}
    {% endfor %}
</section>
