<section id="resources">
    <!-- Page Content -->
    {% for post in site.posts reversed %}
    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if thecycle == 'odd' and post.title != 'Watch' %}
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">{{ post.title }}</h2>

                <div class="row">

                    <div class="col-lg-4">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Service Fabric Documentation</h3>
                            </div>
                            <div class="panel-body">
                                Documents with content ranging from terminology to architecture. <br/>
                                <a href="https://docs.microsoft.com/en-us/azure/service-fabric/" class="btn btn-default btn-md">Go</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Service Fabric Team Blog</h3>
                            </div>
                            <div class="panel-body">
                                Keep up to date with the latest Service Fabric news with posts written by the team. <br/>
                                <a href="https://blogs.msdn.microsoft.com/azureservicefabric/?orderby=date" class="btn btn-default btn-md">Go</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Azure Service Fabric Roadmap</h3>
                            </div>
                            <div class="panel-body">
                                Check out Service Fabric's roadmap to get updates on where our service is heading. <br/>
                                <a href="https://azure.microsoft.com/en-us/roadmap/?query=service+fabric/" class="btn btn-default btn-md">Go</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    {% else if post.title == 'Watch' %}
    <div class="content-section-b">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">{{ post.title }}</h2>
                <div class="lead">{{ post.content }}</div>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <div class="embed-responsive embed-responsive-16by9 rounded">
                    <iframe class="embed-responsive-item " src="img/IntroAzureServiceFabric_mid.mp4"></iframe>
                </div>
            </div>
        </div>

    </div>
    <!-- https://youtu.be/D-1mfk3Vv-4 link -->

    <!-- /.content-section-b -->
    {% else %}

    <div class="content-section-c">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead">{{ post.content }}</div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="img/services/{{ post.img }}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-c -->
    {% endif %}
    {% endfor %}
</section>
