<section id="resources">
    <div class="content-section-a">
        <div class="container">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Read</h2>
            <div class="row">
                <div class="col-lg-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h2 class="panel-title">Service Fabric Documentation</h2>
                        </div>
                        <div class="panel-body lead">
                            Documents with content ranging from terminology to architecture written by Service Fabric team-members. <br />
                            <img src="img/book_icon.png" class="center-block read-icon">
                            <a href="https://docs.microsoft.com/en-us/azure/service-fabric/" target="_blank" class="btn btn-info btn-md">Go</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h2 class="panel-title">Service Fabric Team Blog</h2>
                        </div>
                        <div class="panel-body lead">
                            Keep up to date with the latest Service Fabric news with posts written by the team. <br />
                            <img src="img/blog_icon3.png" class="center-block read-icon">
                            <a href="https://blogs.msdn.microsoft.com/azureservicefabric/?orderby=date" target="_blank" class="btn btn-info btn-md">Go</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h2 class="panel-title">Azure Service Fabric Roadmap</h2>
                        </div>
                        <div class="panel-body lead">
                            Check out Service Fabric's roadmap to get updates on where our service is heading. <br />
                            <img src="img/map_icon.png" class="center-block read-icon">
                            <a href="https://azure.microsoft.com/en-us/roadmap/?query=service+fabric/" target="_blank" class="btn btn-info btn-md">Go</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- /.container -->
    </div>
</section>