<section id="social_media">
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Social Media</h2>
                <div class="container feature-cont">
                    <!-- Feature 1 -->
                    <div class="col-md-3 feature-div">
                        <a href="https://github.com/Microsoft/service-fabric" target="_blank">
                            <img src="img/github-logo.png" alt="Github Logo" class="img-circle feature-image">
                        </a>
                        <br />
                    </div>
                    <!-- Feature 2 -->
                    <div class="col-md-3 feature-div">
                        <a href="https://stackoverflow.com/questions/tagged/azure-service-fabric" target="_blank">
                            <img src="img/stackoverflow-logo.png" alt="Stackoverflow Logo" class="img-circle feature-image">
                        </a>
                        <br />
                    </div>
                    <!-- Feature 3 -->
                    <div class="col-md-3 feature-div">
                        <a href="https://www.linkedin.com/groups/8526708/profile" target="_blank">
                            <img src="img/linkedin-logo.png" alt="LinkedIn Logo" class="img-circle feature-image">
                        </a>
                        <br />
                    </div>
                    <!-- Feature 4 -->
                    <div class="col-md-3 feature-div">
                        <a href="https://twitter.com/servicefabric?lang=en" target="_blank">
                            <img src="img/twitter-logo.png" alt="Twitter Logo" class="img-circle feature-image">
                        </a>
                        <br />
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
</section>