<section id="resources">
    <div class="content-section-c">
        <!-- Header-->
        <div class="row">
            <div class="container">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Watch</h2>

                <!--Video Panels -->
                <!-- MVA Bar -->
                <div class="row">
                    <div class="col-xs-7">
                        <h4>Microsoft Virtual Academy</h4>
                        <p class="lead">
                            Microsoft Virtual Academy videos place emphasis on teaching you about various topics and often don't require extensive prerequisite knowledge. They are a great resource if you are new to
                            the service or want a refresher.
                        </p>
                    </div>
                    <div class="col-xs-5">
                        <div class="panel-group" id="accordion1">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion1" href="#collapse1">Building Microservices Apps with Service Fabric</a>
                                    </h4>
                                </div>
                                <!-- Building Microservices Apps with Service Fabric-->
                                <div id="collapse1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul>
                                            <li><a href="https://mva.microsoft.com/en-US/training-courses/building-microservices-applications-on-azure-service-fabric-16747?l=tbuZM46yC_5206218965#" target="_blank">Service Fabric Architecture & Core Concepts</a></li>
                                            <li><a href="https://mva.microsoft.com/en-US/training-courses/building-microservices-applications-on-azure-service-fabric-16747?l=HhD9566yC_4106218965#" target="_blank">Service Fabric Reliable Services</a></li>
                                            <li><a href="https://mva.microsoft.com/en-US/training-courses/building-microservices-applications-on-azure-service-fabric-16747?l=HhD9566yC_4106218965#" target="_blank">Service Fabric on Linux</a></li>
                                            <li><a href="https://mva.microsoft.com/en-US/training-courses/building-microservices-applications-on-azure-service-fabric-16747?l=qDJnf86yC_5206218965#" target="_blank">Service Fabric History & Customer Stories</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion1" href="#collapse2">Service Fabric Patterns + Practices</a>
                                    </h4>
                                </div>
                                <!-- Service Faric Patterns + Practices -->
                                <div id="collapse2" class="panel-collapse collapse">
                                    <ul>
                                        <li><a href="https://mva.microsoft.com/en-US/training-courses/service-fabric-patterns-and-practices-16925?l=N2KwbbSGD_6405167344#" target="_blank">Intro to Service Fabric Patterns + Practices</a></li>
                                        <li><a href="https://mva.microsoft.com/en-US/training-courses/service-fabric-patterns-and-practices-16925?l=N2KwbbSGD_6405167344#" target="_blank">Cluster Planning and Management</a></li>
                                        <li><a href="https://mva.microsoft.com/en-US/training-courses/service-fabric-patterns-and-practices-16925?l=N2KwbbSGD_6405167344#" target="_blank">Hyper-Scale Web</a></li>
                                        <li><a href="https://mva.microsoft.com/en-US/training-courses/service-fabric-patterns-and-practices-16925?l=naFUVeSGD_1505167344#" target="_blank">loT</a></li>
                                        <li><a href="https://mva.microsoft.com/en-US/training-courses/service-fabric-patterns-and-practices-16925?l=naFUVeSGD_1505167344#" target="_blank">Gaming</a></li>
                                        <li><a href="https://mva.microsoft.com/en-US/training-courses/service-fabric-patterns-and-practices-16925?l=78h5ofSGD_305167344#" target="_blank">Continuous Delivery</a></li>
                                        <li><a href="https://mva.microsoft.com/en-US/training-courses/service-fabric-patterns-and-practices-16925?l=hd1cMgSGD_5605167344#" target="_blank">Migration</a></li>
                                        <li><a href="https://mva.microsoft.com/en-US/training-courses/service-fabric-patterns-and-practices-16925?l=hd1cMgSGD_5605167344#" target="_blank">Container and Linux Supports</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- YouTube Bar-->
                <div class="row">
                    <div class="col-xs-5">
                        <div class="panel-group" id="accordion2">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapse5">Service Fabric Q&A</a>
                                    </h4>
                                </div>
                                <!--Microsoft Virtual Academy-->
                                <div id="collapse5" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul>
                                            <li><a href="https://www.youtube.com/watch?v=K32KfaGx500" target="_blank">Community Q&A #1 </a></li>
                                            <li><a href="https://www.youtube.com/watch?v=WZfQEF_1xTM" target="_blank">Community Q&A #5</a></li>
                                            <li><a href="https://www.youtube.com/watch?v=jdw15JNWkgQ" target="_blank">Community Q&A #10</a></li>
                                            <li><a href="https://www.youtube.com/watch?v=aRNTtJ8SRtk" target="_blank">Community Q&A #15</a></li>
                                            <li><a href="https://www.youtube.com/watch?v=phWGBSV9pzQ" target="_blank">Community Q&A #20</a></li>
                                            <li><a href="https://www.youtube.com/watch?v=g951vrriLAo" target="_blank">Community Q&A #25</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapse6">Service Fabric Deep Dives</a>
                                    </h4>
                                </div>
                                <!-- Microsoft Developer -->
                                <div id="collapse6" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul>
                                            <li><a href="https://www.youtube.com/watch?v=OgrIw1hVTxs&index=1&list=PLlrxD0HtieHh73JryJJ-GWcUtrqpcg2Pb" target="_blank">Alex Wun: The Cluster Manager</a></li>
                                            <li><a href="https://www.youtube.com/watch?v=vM5x9kk6ZVY&index=2&list=PLlrxD0HtieHh73JryJJ-GWcUtrqpcg2Pb" target="_blank">Mansoor Mohsin: Inside the Failover Manager</a></li>
                                            <li><a href="https://www.youtube.com/watch?v=BvIWoMpj4vI&index=3&list=PLlrxD0HtieHh73JryJJ-GWcUtrqpcg2Pb" target="_blank">Aprameya Rao: Inside Service Fabric Reconfiguration</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapse7">Azure</a>
                                    </h4>
                                </div>
                                <!-- Microsoft Azure -->
                                <div id="collapse7" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul>
                                            <li><a href="https://www.youtube.com/watch?v=QqmPM8G4cu8" target="_blank">Azure Friday | Azure Service Fabric on Linux</a></li>
                                            <li><a href="https://www.youtube.com/watch?v=5RYmooIZqS4" target="_blank">Azure Friday | Jenkins CI/CD with Service Fabric</a></li>
                                            <li><a href="https://www.youtube.com/watch?v=hDtslXl5APw" target="_blank">Building Games with Service Fabric</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapse8">Visual Studio</a>
                                    </h4>
                                </div>
                                <!-- Microsoft Visual Studio -->
                                <div id="collapse8" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul>
                                            <li><a href="https://www.youtube.com/watch?v=1NcWdSn-7aI" target="_blank">Service Fabric Deploying and Managing Applications with Service Fabric</a></li>
                                            <li><a href="https://www.youtube.com/watch?v=ndEX6BjSwHU" target="_blank">SmartHotel360 - Modernizing Existing Apps with Azure Service Fabric</a></li>
                                            <li><a href="https://www.youtube.com/watch?v=U0W8Z0bp6aw" target="_blank">Azure: building applications using Azure Service Fabric and ASP.NET Core | E100</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <h4 align="right">YouTube Channels</h4>
                        <p class="lead" align="right">
                            The following YouTube channels have great Service Fabric content targeted  for users ranging from beginners to advanced. These videos tend to be
                            topic driven and will dive deeply into the selected subject. Explore a few of our selected videos before heading to the channels for even more content.
                        </p>
                    </div>
                </div>
            </div>
            <!-- </div> -->
        </div>
    </div>
</section>