<div class="content-section-d">

    <div class="container">

        <div class="row">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">What's New</h2>

            <div class="row">
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                            <img class="media-object" src="img/test.jpg" alt="Service Fabric Logo">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Middle aligned media</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>