<div class="content-section-d">

    <div class="container">
        <div class="row">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">What's New</h2>
            <div class="col-lg-11" style="margin:40px">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div style="text-align:left">
                                <img src="img/mesh_logo.JPG" alt="SF Mesh Logo" style="height:150px !important;padding-bottom:10px !important">
                            </div>
                            <div class="carousel-caption">
                                <h3 style="color:deepskyblue">Introducing Mesh</h3>
                                <p style="color:deepskyblue">Making distributed system orchestration that much easier</p>
                            </div>
                            <div style="text-align:right">
                                <img src="img/mesh_logo.JPG" alt="SF Mesh Logo" style="height:150px !important;padding-bottom:10px !important">
                            </div>
                        </div>

                        <div class="item">
                            <div style="text-align:center">
                                <img src="img/linux_icon.png" alt="Linux Logo" style="height:150px !important;padding-bottom:10px !important">
                            </div>
                            <div class="carousel-caption">
                                <h3 style="color:deepskyblue">Linux Compatibility Here Now</h3>
                                <p style="color:deepskyblue"> Use it to provision Service Fabric clusters in Azure using Linux as the host operating system</p>
                            </div>
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="background:none !important">
                        <span class="glyphicon glyphicon-chevron-left" style="color:deepskyblue"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next" style="background:none !important">
                        <span class="glyphicon glyphicon-chevron-right" style="color:deepskyblue"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>