<section id="whatsnew">
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">What's New</h2>
                <div class="container feature-cont">
                    <!-- Feature 1 -->
                    <div class="col-md-4 feature-div">
                        <a href="https://blogs.msdn.microsoft.com/azureservicefabric/2018/08/14/azure-service-fabric-troubleshooting-guides/" target="_blank">
                            <img src="img/troubleshoot.png" alt="Linux Logo" class="img-circle feature-image">
                        </a>
                        <br />
                        <h4>Troubleshooting Guides</h4>
                        <p class="lead">Learn about patterns to quickly troubleshoot and mitigate common incidents.</p>
                    </div>
                    <!-- Feature 2 -->
                    <div class="col-md-4 feature-div">
                        <a href="https://azure.microsoft.com/en-us/roadmap/azure-service-fabric-introduces-its-fully-managed-option-service-fabric-mesh/" target="_blank">
                            <img src="img/mesh_logo.JPG" alt="SF Mesh Logo" class="img-circle feature-image">
                        </a>
                        <br />
                        <h4> Introducing Mesh Public Preview</h4>
                        <p class="lead">Making distributed system orchestration that much easier</p>
                    </div>
                    <!-- Feature 3 -->
                    <div class="col-md-4 feature-div">
                        <a href="https://blogs.msdn.microsoft.com/azureservicefabric/2018/08/28/open-source-updates-and-more-ahead/" target="_blank">
                            <img src="img/github-logo.png" alt="Icon made by Freepik from www.flaticon.com" class="img-circle feature-image">
                        </a>
                        <br />
                        <h4>Open Source Updates</h4>
                        <p class="lead">Learn more about the steps we've been taking with open sourcing our source code</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>